<div class="navbar">
  <h3>The-Martian-Rationing-System</h3>
  <div class="text-right">
    <!-- <li><a href="javascript:openAddFood();">Add FOOD</a></li> -->
    <button class="btn btn-outline-link me-2 p-2" ><a href="javascript:openAddFood();">ADD FOOD</a></button>
    <button class="btn btn-outline-link me-2 p-2" ><a href="javascript:openAddWater();">ADD WATER</a></button>
    
</div>
</div>
